.logo{
  height: 70px;
  width: 70px;
}
.logo-title{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width:80px;
  font-weight: bold;
  color: $text-gray-blue
}
.sign-in{
  background: $white;
  margin-bottom: 5px;
  padding-left: 50px;
  padding-bottom: 10px;
  p{
    font-size: 14px;
  }
}
