.logo {
  height: 70px;
  width: 70px;
}

.logo-title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 200px;
  font-weight: bold;
  span {
    color: $black;
    font-weight: bold;
  }
  color: $sidebar-text-color;
}

.sign-in {
  background: $white;
  margin-bottom: 5px;
  padding-left: 50px;
  padding-bottom: 10px;

  h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
  }

  p {
    font-size: 13px;
    max-width: 50%;
    margin: 0 0 5px;
    color: $text-dark-blue;
  }
}
