.screen {
  .contents {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .form-customized {
    width: 60%;
  }
  label{
    color: $text-dark-blue;
    font-size: 11px;
  }
  .btn-primary,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover,
  .btn-primary:visited {
    background-color: $light-blue;
  }
}
