.screen {
  .contents {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .form-customized {
    width: 60%;
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover,
  .btn-primary:visited {
    background-color: $light-blue;
  }
}
