footer {
  //position: absolute;
  bottom: 0;
  height: 40px;
  background: $black;
  width: 82%;
  color: $white;
  margin: -20px 0 20px 125px;

  .col-xs-1 {
    margin: 10px -20px 0 -10px;
  }

  .col-xs-11 {
    margin: 10px 0 0 -30px;
  }
}
