.valid:before {
    position: relative;
    left: -2px;
    content: "✔";
    padding: 5px;
    color: $green;
}

.invalid:before {
    position: relative;
    left: -2px;
    content: "✖";
    padding: 5px;
    color: $icon-gray;
}
.validator_title{
  background-color: $light-blue;
  color: $white;
  padding:20px;
  margin: 0px -15px 0px -15px
  //width: 50%;
}
.bad_word{
  padding: 3px;
}
ul {
  list-style-type: none;
}
.password_validator{
    position: absolute;
    left: 5px;
    margin: 2px 0px 0px 0px;
    width: 80%;
    background-color: $gray-bg;
    border-radius: 5px;
    border: 1px solid $gray;
    color: $text-dark-blue;
    z-index: 999;
    .rules_list{
      padding-left:20px;
      margin: 20px 0px 20px -15px
    }
}
