.valid:before {
    position: relative;
    left: -2px;
    content: "✔";
    padding: 5px;
    color: $green;
}

.invalid:before {
    position: relative;
    left: -2px;
    content: "✖";
    padding: 5px;
    color: $icon-gray;
}
.validator_title{
  background-color: $light-blue;
  color: $white;
  padding:20px;
  width: 50%;
}
.bad_word{
  padding: 3px;
}
ul {
  list-style-type: none;
}
