@import './_variables.scss';
@import './App/App.scss';
@import './ChangePasswordScreen/ChangePasswordScreen.scss';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: $dark;
}
input{
    min-width: 200px;
    margin-right: 10px;
}
